
.calc__operators{
    grid-area:  1/7/11/9;
    display:flex;
    flex-direction: column;
}

.calc__operator{
display: block;
margin: 2px;
background-color: #BF7582;
color: white;
font-size: 20px;
border-radius: 3px;
border: 0;
transition: all 0.1s linear;
height: 100%;

}

.calc__operator:hover{
background-color:#b64d60cb ;
font-size: 22px;
}

.calc__operator:focus{
    outline:none;
    font-size: 25px;
}